/* Part 1 - main container style */
/* Part 1.1 - set the size fot the main container
Note: Please refer to @ media query for different min-width for the main container (Part 1.1.a)*/
* {
	box-sizing: border-box;
}

.mainContainer {
	min-width: 950px;
	max-width: 100%;
}
/* Part 1.1.2 - set the style for the scroll bar */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
/* end of Part 1.1 */

/* Part 1.2 - help button style */
/* set the position for the help button */
.helpButton {
	/* keep the help button on the right top corner of the container */
	position: absolute;
	top: 5%;
	right: 5%;
}
/* the style for the question mark button */
.fa-question-circle {
	color: black;
	top: 0;
}
/* the user guide button */
.helpButtonMain {
	/* fixed the position so it will move with the screen */
	position: fixed;
	top: 0;
	right: 0;
	/* change the z-index to make the button show on top of other element */
	z-index: 10;
}
/* end of part 1.2 */

/* Part 1.3 - main body style */
/* set the background image and font style */
body {
	background-image: url(assets/front-end-images/northern_chimera-rotated.png);
	font-family: 'Grenze Gotisch', cursive;
}
/* set the font size for all title */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Grenze Gotisch', cursive;
}
/* set the font size for h3 */
h3 {
	font-size: 28px;
}
/* end of part 1.3 */
/* end of Part 1 */

/* Part 2 - style for the 1st row */
/* Part 2.1  - the style for the main div for 1st row
Note : Please refer to @ media query for different margin-bottom for the top row (Part 2.1.a) */
.topRow {
	/* align the item in center and add the margin for the bottom  */
	justify-content: center;
	margin-bottom: 50px;
}
/* end of Part 2.1 */

/* Part 2.2 - the style for the name banner 
			(the container for the user name/gender/race/class) */
/* Part 2.2.1 - the style for the div to keep the name banner item*/
.topStat {
	/* align the text in center */
	text-align: center;
	max-height: 180px;
}
/* Part 2.2.2 - the style for the image for the name banner */
#topBanner {
	height: 180px;
	width: 100%;
	margin: auto;
}
/* Part 2.2.3 - the style for the text on the banner image */
.topBannerText {
	position: relative;
	bottom: 150px;
}
/* Part 2.2.4 - the style for the character name */
#characterName {
	font-size: 3.5rem;
}
/* test (take out before final submit) */
/* .topNameText {
	position: relative;
	margin: auto;
	bottom: 190px;
} */
/* Part 2.2.5 - style for the dropdown selection for gender/race/class */
.grid-namebanner {
	justify-content: center;
}

.grid-namebanner ul {
	justify-content: center;
	font-size: 28px;
}

.grid-namebanner a {
	color: black;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-color: black transparent transparent;
}
/* end of part 2.2.5 */
/* end of Part 2.2 */
/* Part 2.3 - the style for the aside div (for Hitpoint and Amour class) */
/* Part 2.3.1 - the style of the main aside div */
.topStatAsideContainer {
	/* make the positon relative for the absolute child item */
	position: relative;
	height: 100%;
	max-width: 180px;
	max-height: 180px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
/* Part 2.3.2 - the style for the hitpoint and Amour image */
.topStatImgSide {
	height: auto;
	width: 100%;
	max-width: 180px;
	object-fit: scale-down;
}
/* Part 2.3.3 - the style for the text on the hitpoint and Amour image */
.topStatText {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60%;
	height: 100%;
	margin: auto;
	padding-top: 15%;
	text-align: center;
}
/* part 2.3.4 - the style for the number on the hitpoint and Amour image */
.topStatTextNum {
	font-size: 38px;
	font-weight: bold;
	color: black;
	display: inline;
}
/* end of part 2.3 */
/* end of Part 2 - 1st row style*/

/* Part 3 - styling for the dice row */
/* Part 3.1 - hide the upper row dice for large screen
Note: the @media query will display second row (Part 3.1.a & 3.1.b)*/
.secondRow {
	display: none;
}
/* Part 3.2 - the styling for the dice row */
.diceRow {
	padding-left: 10%;
	padding-right: 10%;
}
/* Part 3.3 - set the style for the dice container 
Note: different container max-dimension in @media query (Part 3.3.a) */
.containerDice {
	min-height: 150px;
	width: 950px;
}

.grid-container.full {
	display: flex;
	justify-content: center;
}
/* Part 3.4 - set a row for styling the dice tray */
.diceGrid {
	height: 100px;
	width: 730px;
	font-size: 80px;
	text-align: center;
}
/* Part 3.5 - set the styling for the first 3 dice div
Note: different border setup for the dice tray in small screen @media query (Part 3.5.a)  */
.diceTray1 {
	border-left: solid;
	border-top: solid;
	border-bottom: solid;
	display: flex;
	justify-content: space-evenly;
	background-color: rgb(180, 150, 120);
}
/* Part 3.6 - set the styling for the last 3 dice div 
Note: different border setup for the dice tray in small screen @media query (Part 3.6.a)  */
.diceTray2 {
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
	display: flex;
	justify-content: space-evenly;
	background-color: rgb(180, 150, 120);
}
/* end of Part 3 - styling for the dice row */

/* Part 4 - Styling for the body row which include Stat/Image/Skill/Weapons section */
/* Part 4.1 - styling for the main div for the body row */
.thirdRow {
	justify-content: center;
	margin-bottom: 50px;
}
/* Part 4.2 - styling for the left side and right side stat div */
.statDiv {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}
/* Part 4.2.1 - styling for each individual stat div */
.sideStat {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	/* set position relative for the absolute position for their child element  */
	position: relative;
}
/* Part 4.2.2 - set the stat text area */
.sideStatText {
	position: absolute;
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	bottom: 15%;
	font-size: 20px;
}
/* Part 4.2.3 - set the font size and remove the bottom margin for the stat value */
.sideStatNumber {
	font-size: 2.5rem;
	margin-bottom: 0;
}
/* Part 4.2.4 - remove the bottom margin for the mod value */
.sideStatText h5 {
	margin-bottom: 0;
}
/* Part 4.2.5 - add the style for the image for every stat div */
.sideStatImg {
	width: 100%;
	height: 100%;
	margin: auto;
	bottom: 45px;
	right: 20px;
}
/* Part 4.3 - Styling for the center div - Image/Skill/Weapeon */
/* Part 4.3.1 - Style for the charater image */
/* Part 4.3.1.1 - set the cell style for the image div */
.vidImageDiv {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
/* Part 4.3.1.2 - set the height/width and the fit formatting for the image */
#centerVidImg {
	max-height: 300px;
	max-width: 300px;
	object-fit: cover;
}
/* Part 4.3.2 - styling for the Skill div */
.skillDiv {
	position: relative;
	display: flex;
	justify-content: center;
	/* set the div height and width */
	height: 40%;
	width: 100%;
}
/* Part 4.3.2.1 - set the height and width to fixed the base image */
.skillImage {
	height: 100%;
	width: 100%;
}
/* Part 4.3.2.2 - set the style of the text box */
.skillText {
	/* fixed the width and height */
	width: 85%;
	height: 85%;
	position: absolute;
	/* fixed the position for the div 5% down to the top */
	top: 5%;
	/* display scroll bar if overflow */
	overflow: auto;
}
/* Part 4.3.3 - styling for the weapon div */
.spellEquDiv {
	position: relative;
	display: flex;
	justify-content: center;
	/* set the div height and width */
	/* height: 100%; */
	width: 100%;
}
/* Part 4.3.3.1 - set the height and width to fixed the base image */
.spellEquImage {
	height: 100%;
	width: 100%;
}
/* Part 4.3.3.2 - set the style of the text box */
.spellEquText {
	width: 85%;
	height: 85%;
	position: absolute;
	/* fixed the position for the div 5% down to the top */
	top: 5%;
	/* display scroll bar if overflow */
	overflow: auto;
}
/* end of Part 4 - Styling for the center div  */

/* Part 5 - Style for reveal */
.reveal-overlay {
	background-color: rgba(0, 0, 0, 0.75);
}

.revealStyle {
	background-color: rgb(155, 155, 155);
	font-family: 'Grenze Gotisch', cursive;
	border-radius: 10px;
	box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5);
}

.revealStyle h1 {
	font-family: 'Grenze Gotisch', cursive;
}

.lead {
	font-size: 140% !important;
}

.revealButton {
	border-radius: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
/* end of part 5 */

/* For medium screen (e.g. tablets) */
@media screen and (min-width: 640px) and (max-width: 768px) {
	/* Part 1.1.a - change the min-width of the main container */
	.mainContainer {
		min-width: 380px;
		max-width: 100%;
	}
	/* Part 2.1.a - change the margin-bottom of the top row div */
	.topRow {
		margin-bottom: 20px;
	}

	/* Part 3.1.a - display the upper row dice */
	.secondRow {
		display: block;
	}
	/* Part 3.1.b - hide the upper row dice */
	.forthRow {
		display: none;
	}
}

/* For small screens (e.g. phone) */
@media only screen and (max-width: 640px) {
	/* Part 1.1.a - change the min-width of the main container */
	.mainContainer {
		min-width: 0px;
		max-width: 100%;
	}

	.reveal button {
		margin-bottom: 10px;
		display: block;
	}
	/* Part 2.1.a - change the margin-bottom of the top row div */
	.topRow {
		margin-bottom: 20px;
	}

	/* Part 3.1.a - display the upper row dice */
	.secondRow {
		display: block;
	}
	/* Part 3.1.b - hide the upper row dice */
	.forthRow {
		display: none;
	}
	/* Part 3.3.a - change the min-height for dice container dimension */
	.containerDice {
		min-height: 280px;
		width: 950px;
	}
	/* Part 3.5.a - change the border setting */
	.diceTray1 {
		border-left: solid;
		border-top: solid;
		border-bottom: solid;
		border-right: solid;
		display: flex;
		justify-content: space-evenly;
		background-color: rgb(180, 150, 120);
	}
	/* Part 3.6.a - change the border setting */
	.diceTray2 {
		border-right: solid;
		border-bottom: solid;
		border-left: solid;
		display: flex;
		justify-content: space-evenly;
		background-color: rgb(180, 150, 120);
	}
}
